<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us"
      xml:lang="en-us" >
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}iFriends{% endblock %}</title>
  </head>
  <body>
    <table width=100% bgcolor="111177">
      <tr><td>
	  <font size="12" color="white">iFriends Webspace</font>
      </td></tr>
      <tr><td>
	  <font size="3" color="white">Home</font>
      </td></tr>
    </table>
    {% block content %}{% endblock %}
  </body>
</html>
