{% extends "ifriends_base.html" %}>
{% block title %}test{% endblock %}
{% block content %}
<table width=100%>
  <tr bgcolor="aabbcc"><td colspan="3">
      <font size="12" color="white">Personal Information</font>
  </td></tr>
  <tr valign="top"><td width=30% bgcolor="aaaaaa"><font color="white" size="5">
	<li>Name: {{p.name}}</li>
	<li>Birthday: {{p.bday}}</li>
	<li>Gender: {{p.gender}}</li>
	<li>Desc: {{p.desc}}</li>
    </font></td>
    <td width=40% bgcolor="aa99aa"><font color="white" size="4">
	{% include "quote.html" %}
    </font></td>
    <td width=30%>
      <h3>Contact Info</h3>
      <li>Email: {{p.email}}</li>
      <li>Website: {{p.favoriteURL}}</li>
  </td></tr>
</table>
{% endblock %}
