<!DOCTYPE html>
<html>
<head></head>

<body>
  <h1 id="head">Test JavaScript</h1>
  <p id="demo">This is a paragraph.</p>
  <p id="summ">answer</p>
  <p id="clock">time here</p>
  
  
  <button type="button" onclick="displayDate()">Display Date</button>
  <button type="button"
  onclick="greet_user('Harry','Wizard')">Hello</button>
  <button type="button" onclick="summ(3,6)">Add</button>
  <input type="button" value="www.w3school.com" onclick="newDoc()">
  <!-- <input type="button" value="clock" onclick="clock()"> -->

<div id="div1">
  <p id="p1">This is one paragraph</p>
  <p id="p2">This is another paragraph</p>
</div>

<script>
  {% include "demo.js"%}
</script>

</body>
</html> 

