<!DOCTYPE html>
{% extends 'rango/base.html' %}

{% block body_block %}
<div class="hero-unit">
  <h1>Ready to Rango</h1>
  {% if user.is_authenticated %}
  <h1>Hello {{ user.username }}!</h1>
  {% endif %}
  <p>Find, Add, Share and Rango useful links and resources.</p>
</div>

<div class="row-fluid">
 <div class="span6">
   {% if categories %}
    <h2>Top five categories</h2>
    <ul>
        {% for category in category_most_views %}
	<li><a href="/rango/category/{{category.url}}">{{ category.name }}</a>({{ category.views }} views) </li>
	{% endfor %}
    </ul>
    {% else %}
    <strong>No categories are present</strong>
    {% endif %}
 </div>
 
 <div class="span6">
   <h2>Top five pages</h2>
   {% if pages %}
   <ul>
     {% for page in pages %}
     <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category}} ({{ page.views }} view(s))</li>
     {% endfor %}
   </ul>
   {% else %}
   <strong>No pages at present.</strong>
   {% endif %}
</div>
</div>

{% endblock %}
